.tvScreenSettingOverlayContent{  
    background-color: rgba(255, 255, 255, 1);
    width: 500px;
    min-height: 300px;
    border: 0 !important;
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    color: #000;
    margin-top: 50px;
    padding: 5px;
}

#tvScreenOverlay .close{
margin-top: 65px;
margin-right: 10px;

}
